{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ partial "page-heading.html" . }}
            <div class="markdown">
                <ul>
                    {{ range sort .Params.items "price" "desc" }}
                    <li>
                        <a href="{{ .url }}">{{ .title }}</a>{{ with .size }}, {{ . }}{{ end }}{{ if .price }}, £{{ .price }}{{ else }}{{ with .note }}, {{ . }}{{ end }}{{ end }}{{ if and .price .note }}, {{ .note }}{{ end }}
                    </li>
                    {{ end }}
                </ul>

                <h3>Nice Shops</h3>
                <ul>
                    {{ range .Params.shops }}
                    <li><a href="{{ .url }}">{{ .title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
