<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

<section class="header">
    <nav>
        <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/cv/">CV</a></li>
        </ul>
    </nav>
    <a href="/"><img src="/img/masthead.png" alt="{{ .Site.Params.author }}" class="masthead"></a>
    {{ if .IsHome }}<p id="standfirst">The Internet Home of Ross M<span class="sup">c</span>Farlane</p>{{ end }}
</section>
